html,
body {
    background-color : rgb(10, 31, 39);
    font-family:'Courier New', Courier, monospace
}

#inputnum {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items : center;
    margin-left : 1.5em;
    color : white;
    font-size : 26px;
    margin-bottom : 3.5em;
}

#input-field {
    display:flex;
    align-items : center;

}

#input {
    width : 3em;
    height : 1.7em;
    background-color :rgb(51, 88, 88);
    color : white;
}

#rounds-button {
    height : 1.25em;
    width : 2em;
    margin-left : 1em;
}

#select-text {
    display : flex;
    justify-content: center;
    color : white;
    font-weight : 900;
    font-size : 32px;
    margin-left : 1.5em;
    margin-bottom : -1.5em;
}

#buttons {
    background-color: rgb(51, 88, 88);
    display : flex;
    justify-content: center;
    padding : 1.5em;
    margin-top : 5em;
    max-width : 50%;
    margin-left : 25%;
}

#rock,
#paper,
#scissors {
    font-family :'Courier New', Courier, monospace;
    margin: 1.5em;;
    padding : 1em;
    border : none;
    background-color :rgb(135, 177, 194);
    color : rgb(10, 31, 39);
    font-weight : bold;
    font-size: 18px;
    
}

#result {
    padding: 1.5em;
    width : 50%;
    height : 15em;
    background-color: rgb(51, 88, 88);
    margin-left: 25%;
    margin-top : 8%;
    display : flex;
    justify-content : space-between;
    flex-direction : column;
    align-items : center;
}

#result-text, #resolution, #score {
    color : white;
    font-size : 24px;
}