html,
body {
    background-color : rgb(10, 31, 39);
    font-family:'Courier New', Courier, monospace
}

#inputnum {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items : center;
    margin-left : 1.5em;
    color : white;
    font-size : 26px;
    margin-bottom : 3.5em;
}

#input-field {
    display:flex;
    align-items : center;

}

#input {
    width : 3em;
    height : 1.7em;
    background-color :rgb(51, 88, 88);
    color : white;
    border: none;
    border-radius: 10%;
}

#rounds-button {
    height : 1.5em;
    width : 5em;
    display : flex;
    justify-content: center;
    align-items: center;;
    margin-left : 1em;
    background-color: rgb(135, 177, 194);
    font-weight : bold;
    font-size : px;
    border : none;
    border-radius: 10em;
}

#select-text {
    display : flex;
    justify-content: center;
    color : white;
    font-weight : 900;
    font-size : 32px;
    margin-left : 1.5em;
    margin-bottom : -1.5em;
}

#buttons {
    background-color: rgb(51, 88, 88);
    display : flex;
    justify-content: center;
    align-items : center;
    padding : 1.75em;
    margin-top : 5em;
    width : 50vw;
    margin-left : 25%;
    border-radius: 1em;
}

#rock,
#paper,
#scissors {
    font-family :'Courier New', Courier, monospace;
    margin: 0.5em;;
    padding : 1em;
    border : none;
    border-radius: 1em;;
    background-color :rgb(135, 177, 194);
    color : rgb(10, 31, 39);
    font-weight : bold;
    font-size: 1em;
    
}

#result {
    padding: 1.5em;
    width : 50%;
    height : 12em;
    background-color: rgb(51, 88, 88);
    margin-left: 25%;
    margin-top : 1em;;
    display : flex;
    justify-content : space-evenly;
    flex-direction : column;
    align-items : center;
    border-radius : 1em;
    color : white;
    font-size : 20px;
}

#result-text, #resolution, #score, #round-total {
    color : white;
}